.body-container {
    height: 90vh;
    background-image: url(../images/air.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    height: 100%;
    width: 40%;
    opacity: .6;

}


.overlay-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}



.fdest {
    flex: 100%;
    color: white;
    margin: 10px;
}


.checks {
    flex: 100%;
    display: flex;
    color: white;
    margin: 10px;
}

.checkin,
.checkout {
    flex: 1;
}

.checkout {
    margin-left: 20px;
}

.checkin {
    margin-right: 20px;
}


.checkin input {
    width: 100%;
}

.checkout input {
    width: 100%;
}

.checks2 {
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content: space-between;
    color: white;
    margin: 10px;
}

.contHotel {
    display: flex;

}

.contPeople {
    display: flex;
    justify-content: space-between;
    flex: 1;
}


.adult,
.children {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.destination {
    font-size: 24px;
}

.inpHotel {
    width: 90%;
    margin-right: 20px;

}

.destination input {
    width: 100%;
}

input[type="number"] {
    width: 90%;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    border-radius: 5px;
    color: black;
    height: 30px;
    margin-top: 10px;
    background-color: #DEE7EA;
    font-size: 15px;
    outline: none;
}

input[type="date"] {
    text-align: center;
}

.form-info {
    color: white;
    width: 70%;
    font-family: Medium;
    font-size: 16px;
}


.form-info h1 {
    font-size: 52px;
    font-family: 'Times New Roman', Times, serif;
}

.form-info h2 {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

.sub {
    flex: 1;
    padding: 10px;
}

.btnSearch {
    width: 100%;
    background-color: #00304D;
    border-color: #00304D;
    color: #ffffff;
    text-align: center;
    margin-top: 6px;
    padding: 9px 16px;
    border-radius: 5px
}

.btnSearch:hover {
    cursor: pointer;
    opacity: 0.9;
}

.body {
    background-color: #F1F1F1;
}

.info {
    min-height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont {
    background-color: #E3E3E3;
    color: #002A3A;
    flex-basis: 50%;
}

.cont div {
    padding: 15px;
    padding-left: 50px;
}

.cont div p {
    font-size: 16px;
}

.cont div h1 {
    font-size: 38px;
}

.contForm input[type="button"] {
    background-color: #00304D;
    color: #ffffff;
    text-align: center;
    margin-top: 6px;
    padding: 15px 22px;
    border: none;
    border-bottom-style: solid;
    border-color: white;
    line-height: 28px;
}

.contForm label {
    font-size: 20px;
}

.contForm input[type="email"] {
    color: #00304D;
    outline: none;
    margin-top: 6px;
    padding: 15px 22px;
    border: none;
    width: 45%;
    line-height: 28px;
}

.contForm input[type="button"]:hover {
    cursor: pointer;
    opacity: .9;

}

.autocomplete:hover {
    opacity: .5;
    cursor: pointer;
}

/*Kontakt side*/

.infoKontakt {
    color: #00304D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
}

.smallInfo {
    margin-top: 100px;
    width: 50%;
}

.smallInfo a {
    text-decoration: none;
    padding-left: 10px;
    color: #00304D;
    font-weight: bolder;
}

.smallInfo a:hover {
    opacity: .9;
}

.smallInfo i {
    color: #00304D;
    font-size: 20px;
}

.smallInfo h1 {
    font-size: 40px;
    border-bottom-style: solid;
    padding-bottom: 30px;
}

.smallInfo h2 {
    font-size: 30px;
}

.smallInfo p {
    font-size: 18px;
}


.smallInfo .senere {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.senere div:first-child {
    margin: 20px;
}

.senere i {
    font-size: 28px;
}

.informasjon {
    margin-top: 25px;
    width: 50%;
}

.informasjon div:not(.hiddenInfo) {
    background-color: #E3E3E3;
    margin: 5px 5px 0px 5px;
    padding-left: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.hiddenInfo {
    margin: 0px 5px 5px 5px;
    padding-left: 25px;
    padding: 5px;
    background-color: white;
}

.informasjon div:hover {
    background-color: white;
    cursor: pointer;
}

.informasjon i {
    font-size: 24px;
    padding-right: 15px;
    flex: 1;
    text-align: right;
}

.hiddenInfo {
    display: none;
}

.referanseForm {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
}

.refForm {
    height: 50vh;
    width: 25%;
    border-radius: 5px;
    background-color: #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.formInp,
.formText,
.formBtn {
    padding: 15px;
    color: #00304D;
    margin: 15px;
}

.formInp {

    display: flex;
    flex-direction: column;
}

.formInp label {
    font-size: 18px;
    font-weight: bolder;
}

.formInp input {
    outline: none;
    margin-top: 6px;
    padding: 15px 22px;
    background-color: #E3E3E3;
    border: none;
    border-bottom: solid;
    border-radius: 0px;
    line-height: 28px;
}


.formBtn {
    text-align: center;
}

.formBtn input {
    background-color: #00304D;
    color: #ffffff;
    text-align: center;
    margin-top: 6px;
    padding: 15px 22px;
    border: none;
    width: 100%;
    border-bottom-style: solid;
    border-color: white;
    line-height: 28px;
}

.formBtn input:hover {
    opacity: .9;
    cursor: pointer;
}

.arHome a {
    text-decoration: none;
    padding-left: 10px;
    color: #00304D;
    font-weight: bolder;
}

.arHome a:hover {
    opacity: .9;
}

.arHome i {
    color: #00304D;
    font-size: 20px;
    padding-left: 25px;
}



.field__input {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

/*
  =====
  CORE STYLES
  =====
  */

.field {
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
}

.field__input {
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));
}

.field__input:focus {
    outline: none;
}

.field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.field__input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.field__label-wrap {
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;

    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus~.field__label-wrap::after {
    opacity: 1;
}

.field__label {
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);

    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);

    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
}

.field__input:focus~.field__label-wrap .field__label,
.field__input:not(:placeholder-shown)~.field__label-wrap .field__label {
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

    top: var(--fieldHintTopHover, .25rem);
}

.tabellInfo {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabellInfo a {
    color: #00304D;
}

.tabellInfo h1 {
    color: #00304D;
}