.info {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    padding: 10px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}

.info .container {
    width: 100%;
}

.info .billig {
    min-height: 100%;
    display: flex;
    align-items: center;
    color: white;
    background-color: #002A3A;
    padding: 25px;
    border-right-style: dotted
}

.info .karusell {
    min-height: 100%;
    display: flex;
    align-items: center;
    background-color: #D81939
}